{% extends "base.html" %}

{% block title %}
    Admin Login
{% endblock %}

{% block content %}
    <h1>Admin Login</h1>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="error-messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
{% endblock %}
